section, article, footer{ 
     overflow: hidden;
}

.about-acc{
     background-color: black;
     padding-top: 10rem;
} 

.about-acc h2{
     margin-bottom: 6.5rem;
     text-align: center;
     color: white;
     font-family: 'poppins', sans-serif;
     font-size: 3rem;
     position: relative;
     &::after{
          content: '';
          position: absolute;
          height: 2.7px;
          margin-right: 40%;
          margin-left: 40%;
          right: 0;
          left: 0;
          background: gold;
          bottom: -1rem;
     }
}

.about-acc h3{
     padding-bottom: 2rem;
     color: white;
     font-family: 'poppins', sans-serif;
     font-size: 2rem;
}

.about-acc p{
     color: rgb(220, 214, 214);
     font-family: 'poppins', sans-serif;
     line-height: 2rem;
}

// Our Team

.team{
     background-image: url(../../../assets/img/team5.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-color: rgb(38, 36, 36);
     background-blend-mode: multiply;
     padding-top: 7rem;
}

.team h2{
     margin-bottom: 7rem;
     text-align: center;
     color: white;
     font-family: 'poppins', sans-serif;
     font-size: 3rem;
     position: relative;
     &::after{
          content: '';
          position: absolute;
          height: 2.7px;
          margin-right: 45%;
          margin-left: 45%;
          right: 0;
          left: 0;
          background: gold;
          bottom: -1rem;
     }
}

.team img{
     width: 18rem;
     height: 18rem;
     border: 3px solid gold;     
}

.img-div{
     text-align: center;
}

.team h3{
     color: white;
     text-align: center;
     font-size: 1.7rem;
     font-family: 'poppins', sans-serif;
}

.team h4{
     color: gold;
     text-align: center;
     font-size: 1rem;
     font-family: 'poppins', sans-serif;
     margin-bottom: 1.5rem;
}

.team p{
     text-align: center;
     font-size: 1.15rem;
}

// Team Social media handles

.team-socials ul{
     display: flex;
     justify-content: center;
 }
 
 .team-socials li{
     padding: 1rem;
     list-style: none;
     font-size: 1.7rem;
     transition: transform .2s; 
     /* The aim of the transition here is to animate the scale transformation when the mouse
     is hovering on top of the object, ie make it a little bit slow and you must but the 
     transition in the exact tag that you are going to apply the hover and transform property on
     For Eg the (.socials li) will contain the transition animation of the transformation while
     the (.socials li:hover) will contain the transformation as seen below */
 }
 
 .team-socials a{
     color: white;
 }
 
 .team-socials li:hover{
     cursor: pointer;
     transform: scale(1.5);
 }
 
 .fa-instagram:hover{
     color: rgb(169, 10, 184);
 }
 
 .fa-twitter:hover{
     color: rgb(29, 203, 233);
 }
 
 .fa-linkedin:hover{
     color: rgb(15, 139, 240);
 }

// Footer

footer{
     padding: 2rem;
     background-image: url(../../../assets/img/artist-bg2.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-color: rgb(36, 35, 35);
     background-blend-mode: multiply;
}

footer p{
     color: white;
     text-align: center;
     font-family: 'poppins', sans-serif;
}

// Media Queries

@media(max-width: 769px){
     .team{
          padding-top: 7rem;
     }
}

@media(max-width: 576px){
     .about-acc h2{
          margin-bottom: 4rem;
          &::after{
               margin-right: 30%;
               margin-left: 30%;
          }
     }

     .about-acc img{
          margin-bottom: 5rem;
     }

     // Our Team

     .team{
          padding-top: 5rem;
          background-color: rgb(65, 62, 62);
     }

     .pb-5{
          padding-bottom: 0rem;
     }

     .team h2::after{
          margin-right: 35%;
          margin-left: 35%;
     }

     .team .col-md-4{
          margin-bottom: 5rem;
     }

     .team p{
          font-size: 1.3rem;
     }

     .team-socials li{
          font-size: 2rem;
     }

}