<app-navbar></app-navbar>

<section class="about-acc">
    <h2 class="animate__animated animate__zoomIn" style="animation-delay: .2s;">ABOUT ACCOLADES</h2>
    <!-- <hr class="border-underline"> -->
    <div class="container">
        <div class="row"> 
            <div class="col md-6 animate__animated animate__bounceInLeft" style="animation-delay: .3s;">
                <img src="../../../assets/img/Accolades 3.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-white animate__animated animate__bounceInRight" style="animation-delay: .3s;">
                <h3 class="text-center">Your Entertainment, Our Priority</h3>
                <p class="text-center">Lorem Ipsum is simply dummy text of the printing 
                    and typesetting industry. Lorem Ipsum has been the industry's standard 
                    dummy text ever since the 1500s, when an unknown printer took a galley 
                    of type and scrambled it to make a type specimen book. It has survived 
                    not only five centuries, but also the leap into electronic typesetting, 
                    remaining essentially unchanged. It was popularised in the 1960s with 
                    the release of Letraset sheets containing Lorem Ipsum passages, and more 
                    recently with desktop publishing software like Aldus PageMaker including 
                    versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Our Team -->

<article class="team">
    <h2 data-aos="fade-up" data-aos-duration="500">Our Team</h2>
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-4" data-aos="fade-right" data-aos-duration="900">
                <!-- for the text-align css property work for an image it has to be in a div tag -->
                <div class="img-div"> 
                    <img src="../../../assets/img/chibuzor.jpeg" class="img-fluid rounded-circle mb-3" alt="">
                </div>
                <h3>Ani Chibuzor</h3>
                <h4>Founder</h4>
                <p class="text-white">
                    Chibuzor (AKA Alpha) is a 500level law student at UNEC
                </p>
                <div class="team-socials">
                    <ul>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="700">
                <div class="img-div">
                    <img src="../../../assets/img/K-Legal.jpeg" class="img-fluid rounded-circle mb-3" alt="">
                </div>
                <h3>Caleb Nnabuife</h3>
                <h4>Co-Founder</h4>
                <p class="text-white">
                    Caleb (AKA K-legal) is a 500level law student at UNEC
                </p>
                <div class="team-socials">
                    <ul>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-left" data-aos-duration="900">
                <div class="img-div">
                    <img src="../../../assets/img/DjNIni.jpeg" class="img-fluid rounded-circle mb-3" alt="">
                </div>
                <h3>Nicole Muoneke</h3>
                <h4>Chief Financial officer</h4>
                <p class="text-white">
                    Nicole (AKA Dj-Nini) is a 400level law student at UNEC
                </p>
                <div class="team-socials">
                    <ul>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-4" data-aos="fade-right" data-aos-duration="900">
                <div class="img-div">
                    <img src="../../../assets/img/Mechano.jpeg" class="img-fluid rounded-circle mb-3" alt="">
                </div>
                <h3>Ikenna Okwueze</h3>
                <h4>Chief operating officer</h4>
                <p class="text-white">
                    Ikenna (AKA Mechano) is a 500level law student at UNEC
                </p>
                <div class="team-socials">
                    <ul>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="700">
                <div class="img-div">
                    <img src="../../../assets/img/chigbo.jpeg" class="img-fluid rounded-circle mb-3" alt="">
                </div>
                <h3>Chigbogu Mathew</h3>
                <h4>Technical Adviser</h4>
                <p class="text-white">
                    Chigbogu (AKA Jubal) is a 500level law student at UNEC
                </p>
                <div class="team-socials">
                    <ul>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-left" data-aos-duration="900">
                <div class="img-div">
                    <img src="../../../assets/img/music3.jpg" class="img-fluid rounded-circle mb-3" alt="">
                </div>
                <h3>Gravitee</h3>
                <h4>Artiste and Repertoire manager</h4>
                <p class="text-white">
                    Gravitee is a 500level estate management student at UNEC
                </p>
                <div class="team-socials">
                    <ul>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</article>

<!-- Footer -->

<footer>
    <div class="row">
        <div class="col-md-6 para-1">
            <p>Copyright &copy; Accolades 2021</p>
        </div>
        <div class="col-md-6 text-muted">
            <p>Designed by Mechano</p>
        </div>
    </div>
</footer>