<html>
    <body> 
        
        <nav class="container-fluid text-white fixed-top bg-color"> 
            <div class="container">
                <a routerLink=""><img src="../../../assets/img/Accolades 3.jpg" alt="Logo" class="image_1" width="100px" height="100px"></a>
                <ul class="menu" id="navbar-ul" [ngClass]="{'toggleview': mobileMenu == true}">
                    <img src="../../../assets/img/Accolades 3.jpg" alt="Logo" class="image_2" width="140px" height="140px">
                    <li><a routerLink="" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:
                        true}"><i class="fas fa-home mr-1 nav1"></i>Home</a></li>
                    <li class="nav-menu"><a routerLink="/about" routerLinkActive="link-active" [routerLinkActiveOptions]="{exact:
                        true}"><i class="fas fa-address-card mr-1 "></i>About</a></li>
                    <!-- <li><a href=""><i class="fas fa-award mr-1"></i>Awards</a></li>
                    <li><a href=""><i class="fas fa-people-arrows mr-1"></i>Nominees</a></li> -->
                    <!-- <li class="nav-menu"><a href=""><i class="fas fa-newspaper mr-1"></i>News</a></li>  -->
                    <div class="socials">
                        <ul>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </ul>
                <i class="fas fa-bars d-sm-block icon-bars" 
                (click)="toggleSidebar()" id="toggle"></i>
            </div>
            <!-- <div class="socials"> 
                <ul>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                </ul>
            </div> -->
        </nav>


    </body>
</html>