@import '../../../assets/css/bootstrap-4.2.1.min.css';
@import '../../../assets/css/animate-3.7.0.min.css';


.bg-imgage{
     min-height: 600px;      
     background-image: url(../../../assets/img/music6.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-color: #302d2d;
     background-blend-mode: multiply;
}