// @import '../../../assets/css/bootstrap-4.2.1.min.css';
// @import '../../../assets/css/animate-3.7.0.min.css';


// .bg-image{
//      min-height: 750px;      
//      background-image: url(../../../assets/img/music6.jpg);
//      background-size: cover;
//      background-repeat: no-repeat;
//      background-color: #302d2d;
//      background-blend-mode: multiply;
// }

.texts{
     color: white;
     text-align: center;
     overflow: hidden;
}

.carousel-item{
     height: 90vh;
     min-height: 300px;
     background: no-repeat center center scroll;
     background-size: cover;
}

.carousel-caption{
     bottom: 17rem;
}

.carousel-caption h5{
     font-size: 4.5rem;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-family: 'Merienda', cursive;
}

.carousel-caption p{
     // width: 60%;
     margin: auto;
     font-size: 1.5rem;
     line-height: 1.9;
     font-family: 'Poppins', sans-serif;
}

