.about-acc{
     background-image: url(../../../assets/img/artist-bg1.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     // background-color: rgb(142, 142, 142);
     // background-blend-mode: multiply;
}