<html>
    <body>
        
        <div class="container-fluid text-white">
            <nav class="container">
                <img src="../../../assets/img/Accolades 3.jpg" alt="Logo" width="100px" height="100px">
                <ul class="menu" id="navbar-ul" [ngClass]="{'toggleview': mobileMenu == true}">
                    <li><a href=""><i class="fas fa-home mr-1"></i>Home</a></li>
                    <li><a href=""><i class="fas fa-address-card mr-1"></i>About</a></li>
                    <li><a href=""><i class="fas fa-award mr-1"></i>Awards</a></li>
                    <li><a href=""><i class="fas fa-people-arrows mr-1"></i>Nominees</a></li>
                    <li><a href=""><i class="fas fa-newspaper mr-1"></i>News</a></li> 
                </ul>
                <i class="fas fa-bars d-sm-block d-md-none icon-bars" 
                (click)="toggleSidebar()" id="toggle"></i>
            </nav>
            <div class="socials">
                <ul>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                </ul>
            </div>
        </div>


    </body>
</html>